<p>product works!</p>
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Basic Table</h2>
  <p>The .table class adds basic styling (light padding and only horizontal dividers) to a table:</p>            
  <table class="table">
    <thead>
      <tr *ngIf="product.length > 0">
        <th>productName</th>
        <th>company</th>
        <th>price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let eachProduct of product">
        <td>{{eachProduct.productName}}</td>
        <td>{{eachProduct.company}}</td>
        <td>{{eachProduct.price}}</td>
      </tr>
    </tbody>
  </table>
</div>

</body>
</html>

